table {
  thead {
    background: linear-gradient(170deg, $ternary, $secondary);

    th,
    td {
      color: white;
      padding: $spacer * .8;
    }
  }

  tbody {
    tr {
      border-bottom: solid 1px $primary;

      td {
        padding: $spacer * .8;
      }
    }
  }
}
