.breadcrumb {
  color: #333;
  font-size: $spacer * .8;
  background: url(assets/bg-breadcrumb.png) center center no-repeat;
  background-size: cover;
  border-radius: 0;

  .breadcrumb-item {
    padding: 0 !important;

    &::before {
      display: none !important;
    }

    &::after {
      content: ">";
      margin: 0 $spacer *.2;
      color: white;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}