// Fonds dégradés
@function gradient($axis: x, $inverse: false) {
  @if $axis == "x" {
    @if $inverse {
      @return linear-gradient(90deg, $gradient-secondary, $gradient-primary);
    }

    @return linear-gradient(90deg, $gradient-primary, $gradient-secondary);
  }

  @if $inverse {
    @return linear-gradient(180deg, $gradient-secondary, $gradient-primary);
  }

  @return linear-gradient(180deg, $gradient-primary, $gradient-secondary);
}

@mixin bg-gradient($axis: x, $inverse: false) {
  @if $axis == "x" {
    @if $inverse {
      background: $gradient-primary gradient() !important;
    } @else {
      background: $gradient-primary gradient(x, true) !important;
    }
  } @else if $inverse {
    background: $gradient-primary gradient(y) !important;
  } @else {
    background: $gradient-primary gradient(y, true) !important;
  }
}

.bg-gradient {
  @include bg-gradient();
}

.bg-gradient-inverse {
  @include bg-gradient(x, true);
}

.bg-gradient-y {
  @include bg-gradient(y);
}

.bg-gradient-y-inverse {
  @include bg-gradient(y, true);
}
