.page-header {
  box-shadow: 0 0.4rem 0.5rem rgba(#000, 0.3);
  text-align: center;

  .menu-wrapper {
    background: linear-gradient(100deg, #1bbbc5, #2aa2d4);

    .btn {
      color: white;
    }
  }

  .menu-lvl-1 {
    a {
      &::before {
        margin-right: $spacer;
      }
    }
  }

  .menu-social {
    border-left: solid $spacer white;

    a {
      background: transparent;
    }
  }

  .menu-lvl-2 {
    a {
      color: $body-color;

      &:hover,
      &:focus {
        color: $primary;
      }
    }

    > div {
      height: 100%;
      padding: $spacer * 0.5 $spacer * 0.75 $spacer $spacer * 0.75;

      > a {
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: $spacer * 0.5;
        padding-bottom: $spacer * 0.5;
        border-bottom: solid 2px white;

        &:after {
          content: "\f111";
          font-family: "epf-occitanie-icons";
          margin-left: $spacer * 2;
          color: $secondary;
          font-size: $spacer * .5;
        }

        &.current {
          border-bottom-color: $secondary;
        }

        & + div {
          display: none;
          width: 100%;
          position: absolute;
          flex-wrap: wrap;
          left: 0;
          padding: $spacer 0;
          margin-top: -2px;
          margin-right: $spacer * 2;
          background: white;
          border-top: solid 2px $primary;
          z-index: 999;

          a {
            padding: $spacer * 0.5 $spacer;
            text-align: left;
            font-weight: bold;
          }
        }

        &:hover + div,
        &:focus + div {
          @include animate(fadeIn, 0.8s);
          display: flex;
        }
      }

      &:last-child {
        a {
          &:after {
            content: "";
          }
        }
      }

      &:hover,
      &:focus {
        > div {
          @include animate(fadeIn, 0.8s);
          display: flex;
        }
      }
    }
  }
}
