.post-pagination {
  width: 100%;
  text-align: center;

  .screen-reader-text {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .page-numbers {
    margin-right: 0 $spacer;
    padding: 1rem;
    color: $body-color;
    font-weight: bold;
    transition: all .3s;

    &:last-child {
      margin-right: 0;
    }

    &.current {
      color: white;
      background: $primary;
    }

    &:not(.current):hover {
      color: white;
      background: $secondary;
      transition: all .3s;
    }
  }
}