.title-1-block {
  background: white;

  h1 {
    font-size: $spacer * 2;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      padding: $spacer * .5 $spacer !important;
      font-size: $spacer * 1.5;
    }
  }

  p {
    @include media-breakpoint-down(sm) {
      padding: $spacer * .5 $spacer !important;
    }
  }
}