<header class="title-1-block shadow pb-2">
  <nav class="px-3 py-1">
    <ul class="mb-0 list-inline">
      <li class="list-inline-item">
        <a href="#">Accueil</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Standard</a>
      </li>
    </ul>
  </nav>

  <h1 class="px-5 py-2">
    Titre de premier niveau lorem ipsum dolor sit amet.
  </h1>

  <p class="px-5 mb-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a augue id magna feugiat congue euismod a magna. Nullam tempus lectus neque, ac
    luctus nulla consequat sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</header>