header {
  box-shadow: 0 0.4rem 0.5rem rgba(#000, .3);
  text-align: center;

  .menu-lvl-1 {
    > div {
      background: $secondary;
    }
  }

  .menu-lvl-2 {
    > div {
      height: 100%;
      padding: $spacer * .5 $spacer * .75 $spacer $spacer * .75;

      > a {
        display: block;
        height: 100%;
        margin-right: $spacer * .5;
        padding-bottom: $spacer * .5;
        color: $body-color;
        border-bottom: solid 2px white;

        &.current {
          border-bottom-color: $secondary;
        }
      }

      &:hover {
        > a {
          color: $primary;
          border: none;
        }
      }

      > div {
        display: none;
        width: 100%;
        position: absolute;
        flex-wrap: wrap;
        left: 0;
        padding: $spacer 0;
        margin-top: -2px;
        margin-right: $spacer * 2;
        background: white;
        border-top: solid 2px $primary;
        z-index: 999;

        a {
          padding: $spacer * .5 $spacer;
          color: $body-color;
          text-align: left;
          font-weight: bold;

          &:hover {
            color: $primary;
          }
        }
      }

      &:hover {
        > div {
          @include animate(fadeIn, .8s);
          display: flex;
        }
      }
    }
  }
}
