header {
  box-shadow: 0 0.4rem 0.5rem rgba(#000, .3);
  text-align: center;

  .menu-lvl-1 {
    a,
    > div {
      font-weight: bold;
      color: $white;
      background: $secondary;
      text-decoration: none;
    }

    a:hover {
      background: $primary;
    }
  }

  .menu-lvl-2 {
    a {
      color: $body-color;
      text-decoration: none;

      &.selected,
      &:hover {
        border-bottom: solid 4px $secondary;
      }
    }
  }
}
