section {
  margin: $spacer * 4 0;
}

.home-last-news {
  h2 {
    left: 0;
    top: 0;
    margin: 0;
    z-index: 99;
  }

  .news {
    $animation-duration: 1s;

    background: linear-gradient(180deg, $gradient-primary, $gradient-secondary) no-repeat border-box,
      linear-gradient(180deg, $gradient-primary, $gradient-secondary) no-repeat border-box;
    background-size: 50% 50%;
    background-position: 0 25%, bottom 30% right 0;

    .news-wrapper {
      opacity: 0;
      display: none;
      justify-content: center;

      img {
        width: 90%;

        @include media-breakpoint-only(xs) {
          width: 100%;
        }
      }

      .content-wrapper {
        margin-top: -10%;
        padding-right: 10%;

        @include media-breakpoint-only(xs) {
          margin-top: 0;
          padding-right: 0;
        }

        .content {
          min-height: $spacer * 15;
          text-align: left;
          border-left: solid $spacer * 0.6 $secondary;
          background: white;

          @include media-breakpoint-only(xs) {
            border-left: none;
            border-bottom: solid $spacer * 0.6 $secondary;
          }
  
          h3 {
            margin-top: 0;
            font-weight: 300;
            font-size: $spacer * 2.5;
          }
  
          p {
            font-size: 0.8rem;
          }
        }
      }

      &.current {
        display: flex;
        opacity: 100;

        img {
          @include animate(bounceInDown, $animation-duration);
        }

        .content {
          @include animate(bounceInRight, $animation-duration);
        }
      }
    }
  }

  .nav-container {
    margin-top: $spacer * -5;

    @include media-breakpoint-between(md, lg) {
      margin-top: $spacer * -7;
    }

    @include media-breakpoint-only(sm) {
      margin-top: $spacer * -8;
    }

    @include media-breakpoint-only(xs) {
      margin-top: $spacer;
    }
  }
}

.missions {
  .nav-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $spacer;
    font-size: $spacer * 2;

    &:last-child {
      right: 0;
    }
  }

  .icon-list {
    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: $spacer * 2 $spacer;
      padding: $spacer;
      min-width: $spacer * 13;
      height: $spacer * 10;
      color: $body-color;
      text-align: center;
      font-weight: bold;
      box-shadow: $box-shadow;
      border-bottom: solid $spacer * 0.5;
      border-image: gradient(x, true) 1;
      transition: all 0.4s;

      &:hover {
        border-bottom-color: $primary;
        border-image: none;
        transform: scale(1.05);
        transition: all 0.4s;
      }

      img {
        width: $spacer * 5;
        margin-bottom: $spacer;
      }
    }
  }
}

.publications {
  margin-top: $spacer * 8;
  background: gradient(y) no-repeat;
  background-size: 100% 85%;
  background-position: left 0 bottom 0;

  .navigation-buttons {
    a {
      @include navigation-button(1, -1);

      &:last-child {
        @include navigation-button(-1, -1);
      }
    }
  }

  .ovale {
    margin: $spacer * -7 auto 0;
    height: $spacer * 25;
    background: white;
    box-shadow: 0 0 $spacer * 0.5 rgba(#000, 0.3);
    border-radius: 90% / 90%;
  }

  .publication-list {
    padding: $spacer * 0.5 0;
    margin-top: $spacer * -18;

    .slick-slide {
      margin: $spacer * 1.5 $spacer;
      padding: $spacer * 2 $spacer * 2 $spacer $spacer * 2;
      width: $spacer * 21;
      background: white;
      box-shadow: 0 0 $spacer * 0.8 rgba(#000, 0.3);
      transition: transform 0.5s;

      footer {
        display: flex;
        align-items: center;
      }

      &.slick-current {
        padding-right: 0;
        transform: scale(1.08);
        transition: transform 0.5s;

        h3 {
          color: $primary;
          padding-right: $spacer * 2;
        }

        a {
          @include button-variant($secondary, $secondary);
          padding: $spacer * 0.5 $spacer * 2.5;
          text-transform: uppercase;
        }
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: $spacer * 0.7;
      padding: 0;
      list-style-type: none;
      cursor: pointer;

      li::after {
        content: "";
        display: block;
        margin: 0 $spacer * 0.3;
        height: $spacer * 0.4;
        width: $spacer * 0.4;
        border: solid 1px #333;
        background: white;
        border-radius: 50%;
      }

      .slick-active::after {
        border: none;
        background: $primary;
      }

      button {
        display: none;
      }
    }
  }
}

.numbers {
  height: 449px;
  background: url("assets/home/bg-numbers.png") no-repeat;
}

.map {
  background: gradient(y, true) no-repeat;
  background-size: 100% 33%;
  background-position: center;

  > div:first-child {
    margin-left: $spacer * -20;
    max-height: $spacer * 30;
    padding: $spacer * 2 0 $spacer * 5 $spacer * 25;
    border-radius: 50%;
    background: white;
    box-shadow: 0rem 0 $spacer * 4 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .watermark {
    font-size: $spacer * 10;
    margin-top: $spacer * -1;
    margin-left: $spacer * -4;
    background: linear-gradient(90deg, $gradient-primary, #2aa2d4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
