.job_add {
  background: url(assets/chevron-blue.png) left center no-repeat;
  background-size: contain;

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    a {
      margin-top: $spacer;
      align-self: auto !important;
    }
  }

  h2 {
    text-transform: none;

    @include media-breakpoint-down(sm) {
      font-size: $spacer * 1.5;
    }
  }

  a {
    text-transform: none;

    &:hover {
      color: $secondary;
      background: white;
    }
  }
}

.single-offre-emploi {
  a.caldera-forms-modal {
    @include button-variant($primary, $primary);
    margin-right: $spacer * 3;
    padding: $spacer * 0.375 $spacer * 2;
    align-self: flex-end;
    font-weight: bold;
    box-shadow: none;

    &:last-child {
      font-size: $spacer * 1.6;
    }
  }

  .remodal,
  .remodal-wrapper {
    @include media-breakpoint-down(sm) {
      margin: 0;
      padding: 0;
    }
  }

  .caldera-front-modal-container {
    padding: 0;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
      padding: $spacer * 3;
    }

    @include media-breakpoint-up(md) {
      max-width: 80%;
    }

    @include media-breakpoint-up(lg) {
      padding: $spacer * 5;
      max-width: 70%;
    }

    @include media-breakpoint-up(xl) {
      max-width: 60%;
      padding: $spacer * 5;
    }
  }
}
